server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker-containers
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
    relabel_configs:
      - source_labels: [__meta_docker_container_name]
        regex: "/securemail_postfix"
        target_label: container
      - source_labels: [__meta_docker_container_name]
        regex: "/(.*)"
        target_label: job
      - action: labelmap
        regex: __meta_docker_container_label_(.+)
